%div.ui.segment
  %div.ui.two.column.stackable.grid
    %div.column
      = image_tag(@pin.image_url, class: "ui fluid image")
      %div.ui.divider
      %div.ui.circular.google.plus.icon.button
        %i.thumbs.up.icon
      %button.ui.right.floated.button
        Like
      %button.ui.right.floated.button
        comment
    %div.column
      %div.pincontent
        %h2.ui.header
          = @pin.title
        %div.ui.divider
        %p.description
          = @pin.description
