%div.ui.segment
  %div.ui.two.column.stackable.grid
    %div.ten.wide.column
      = link_to (image_tag @pin.image_url.to_s, :class => "ui centered large image"), @pin.pin_url, target: "_blank"
      %div.ui.divider
      %div.ui.circular.google.plus.icon.button
        %i.thumbs.up.icon
      %button.ui.right.floated.button
        Like
      %button.ui.right.floated.button
        comment
      = link_to "Edit", edit_pin_path(@pin), class: "ui green button"
    %div.six.wide.column
      %div.pincontent
        %h2.ui.header
          = @pin.title
        %div.ui.divider
        %p.description
          = @pin.description
