// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centertext{
  text-align: center;
}

.userinfo{
  margin-top: 50px;
}

.profilecontainer{

}

.ui.segment{
    height: 400px;
}

// .dp{
//   margin-top: 220px;
// }
.ui.floated.circular.image{
  width: 220px;
}
//
.ui.mini.vertical.buttons{
  margin-top: 10px;
}
@media only screen and (max-width: 500px) {
  .ui.segment{
      margin-bottom: 100px;
  }
  .ui.mini.vertical.buttons{
    margin-left: 120px;
    margin-top: 330px
  }
  // .ui.floated.circular.image{
  //   width: 180px;
  // }
  .dp{
    width: 160px;
    margin-top: 300px;
  }
}
