// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
  margin: auto;
  padding-left: 12px;
  padding-right: 12px;

}

.userinfo{
  margin-top: 50px;
}

.cover{
    height: 430px;
}

.ui.mini.statistics{
  font-size: 8.9px;
  margin: auto;
}
b.username{
  font-size: 20px;
  font-weight: lighter;
}
.small .dp
{
  height: 220px;
}
.dp{
  height: 240px;
}


@media only screen and (max-width: 400px) {
 .dp.ui.centered.fluid.image
 {
   width: 120px;
 }
 .profile{
     height: 320px;
 }
 .dp{
   height: 120px;
   width: 120px;
 }
 .cover{
     height: 200px;
 }
 .mavatar.ui.avatar.right.floated.image{
   display: none;
 }
}





// ************************************
//*****************REACT PROFILE*******
//*************************************
// .dp{
//   margin-top: 180px;
//   height: 240px;
//   width: 240px;
// }
//
// .cover{
//     height: 350px;
// }
// @media only screen and (min-device-width : 360px) and (max-device-width : 480px){
//   .dp{
//     height: 120px;
//     width: 120px;
//   }
//   .cover{
//     height: 220px;
//   }
//   .infocontent{
//     margin: inherit;
//   }
// }
//




// // Place all the styles related to the home controller here.
// // They will automatically be included in application.css.scss.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//
// .userinfo{
//   margin-top: 50px;
// }
//
// .cover{
//     height: 300px;
// }
//
// .ui.mini.statistics{
//   font-size: 8.9px;
//   margin: auto;
// }
// b.username{
//   font-size: 20px;
//   font-weight: lighter;
// }
// .small .dp
// {
//   height: 220px;
// }
//
// .infocontent{
//   margin-left: 250px;
// }
//
// .dp{
//   margin-top: 30px;
//   height: 200px;
//   width: 200px;
// }
//
// #editform{
// }
//
//
// @media only screen and (min-device-width : 1270px){
// }
//
//
//
// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px){}
//
//
// @media only screen and (min-device-width : 320px) and (max-device-width : 350px){
//
// }
//
// @media only screen and (min-device-width : 360px) and (max-device-width : 480px){
//   .dp{
//     height: 120px;
//     width: 120px;
//   }
//   .cover{
//     height: 220px;
//   }
//   .infocontent{
//     margin: inherit;
//   }
// }
//
//
// @media only screen and (-webkit-min-device-pixel-ratio : 1.5){}
//
// @media only screen and (min-device-pixel-ratio : 1.5){}
//
//
// @media handheld and (max-width: 960px){}
//
